*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #000430;
    --secondaryBackground: #171c48;
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}
body{
    background-color: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 120px auto 0 auto;
    max-width: 500px;
}
.details{
    width: 100%;
}
form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 10px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: #fff
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: #fff;
    font: 30px;
    font-weight: bold;
    outline: none;
}
#urls-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}
.urlsItem{
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.urls{
    display: flex;
    align-items: center;
    gap: 10px;
}
.urlsInput{
    width: 20px;
    height: 20px;
}
.urlsItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}