*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background: #121212;
    --secondaryBackground: #1E1E1E;
    --text: #B3B3B3;
    --accent: #2E2E2E;
    --teal: #24feee;
}
body{
    background-color: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin: 120px auto 0 auto;
    max-width: 500px;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    border: solif #fff;
}

#urlsInput {
    flex: 1;
    padding: 10px;
    background-color: var(--secondaryBackground);
    border: 1px solid var(--accent);
    border-radius: 10px;
    outline: none;
    width: 440px;
    height: 50px;
    color: var(--text)
}
form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryBackground);
    color: #fff;
    font: 30px;
    font-weight: bold;
    outline: none;
}
.container:placeholder {
    position: absolute;
    background: #fff;
    color: #121212;
    top:22%;
    left: 10%;
    cursor: text;
    transition: top 350ms ease-in,
        font-size 350ms ease-in;
}
label {
    position: absolute;
    color: var(--text);
    left: 2%;
    top: 30%;
    cursor: text;
    transition: top 350ms ease-in,
        font-size 350ms ease-in;
}
input[type='text']:focus ~ label,
.form__input:not(:placeholder-shown)
.form__input:not(:focus) ~ label {
    top: -15%;
    font-size: 0.75rem;
    padding: 0 0.125em;
}
#urls-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
    border: 1px solid var(--accent);
    border-radius: 10px;
}
.urlsItem{
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.urls{
    display: flex;
    align-items: center;
    gap: 10px;
}
#urlsInput:hover {
    border: 2px solid;
    color: grey;
}
.urlsItem img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}
.label__accept {
    opacity: 0%;
}